.account {
  height: 100%;
}

.acc-dropdown {
  @media screen and (max-width: 1023px) {
    display: none !important;
  }

  &__button {
    background-color: #782c08;
    color: #fff;
    padding: 0 30px;
    text-transform: uppercase;

    &:before {
      margin-right: 15px;
    }
  }

  &__content {
    padding: 0 15px !important;
    top: 43px !important;

    &:before {
      left: 90% !important;
    }
  }

  &__item {
    font-size: 16px;
    padding-left: 20px !important;
    text-align: left !important;

    &:first-child {
      border-bottom: 2px solid #e9e9e9;
    }

    &:hover {
      background-color: transparent !important;
      color: #000 !important;
      opacity: .7;
    }
  }
}