.addresses {
  margin: 60px 0;

  .contacts__number {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;

    .side-menu {
      margin-right: 30px;
      min-width: 33.3333333%;

      //@media screen and (max-width: 767px) {
      //  display: none;
      //}
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      position: relative;
    }

    #map {
      border: 2px solid #f7f7f7;
      height: 400px;
      max-width: 66.6666666%;
      width: 100%;

      @media screen and (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
}