.basket {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 100%;
  margin-right: 0 !important;
  position: relative;

  &-section {
    background-color: #fff !important;
  }

  .basket__icon {
    font-size: 25px;
    margin-right: 10px;
  }

  &__text {
    font-weight: 500;
  }

  &:hover {
    .basket-list {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &__delete {
    background-color: transparent;
    border: 0;
    color: #9d0202;
    transition: all .3s ease;

    &:hover {
      color: #782c08;
    }

    @media screen and (max-width: 767px) {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  &__sum {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: flex-end;

    @media screen and (max-width: 500px) {
      justify-content: space-between;
    }

    & .discount__percent {
      font-size: inherit;
    }

    &.all {
      font-size: 20px;

      & .basket__sum-value {
        font-size: 32px;
      }
    }

    &-value {
      color: #782c08;
      font-size: 24px;
      text-align: right;
      width: 150px;
    }
  }

  &__manage {
    margin-top: 55px;

    @media screen and (max-width: 767px) {
      justify-content: flex-end;
      margin-top: 25px;
    }
  }

  &-quantity {
    margin: 0 0 0 5px;
  }
}