.basket {
  align-items: center;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 100%;
  margin-right: 0 !important;
  position: relative;

  .basket__icon {
    font-size: 25px;
    margin-right: 10px;
  }

  &__text {
    font-weight: 500;
  }

  &:hover {
    .basket-list {
      display: block;
    }
  }
}