.basket-list {
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: .5px .866px 10px 0 rgba(0, 3, 1, .2);
  opacity: 0;
  pointer-events: none;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 70px;
  width: 565px;
  z-index: 3;

  &:before {
    content: '';
    height: 18px;
    left: 95%;
    margin-left: -6px;
    margin-top: -3px;
    position: absolute;
    top: 0;
    width: 18px;
    background-color: #fff;
    transform: rotate(45deg);
    box-shadow: -1px -1px 10px 0 rgba(0, 3, 1, 0.1);
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #fff;
    content: '';
  }

  &__item {
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;

    img {
      width: 100px;
    }

    .title {
      width: 260px;
    }

    .quantity {
      width: 30px;
    }

    .price {
      width: 65px;
    }
  }

  &__discount {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .discount-price,
    .common-price {
      color: #782c08;
      text-align: right;
      width: 150px;
    }

    .discount-price {
      font-size: 24px;
    }

    .common-price {
      font-size: 32px;
    }

    .label {
      align-items: center;
      color: #000;
      display: flex;
      font-size: 18px;
      font-weight: 500;

      .personal-discount {
        color: #44c900;
      }
    }
  }
}

.basket {
  &__actions {
    display: flex;
    justify-content: flex-end;

    .button:first-child {
      margin-right: 10px;
    }
  }
}