.basket-table {
  th:nth-child(1) {
    width: 15% !important;

    @media screen and (max-width: 767px) {
      width: auto;
    }
  }

  th:nth-child(2) {
    @media screen and (max-width: 767px) {
      width: 85%;
    }
  }

  th:nth-child(7) {
    width: 4% !important;
  }

  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6) {
    width: 10%;
  }

  .table__cell {
    &:last-child {
      @media screen and (max-width: 767px) {
        padding: 0 !important;
      }
    }

    img {
      width: 100px;
    }
  }
}