.categories {
  width: 75%;

  &__container {
    display: flex;
    margin-top: 55px;

    .caption {
      margin-top: 0;
    }

    .aside {
      margin-right: 30px;
      width: 25%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .caption {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;

    &_card {
      flex-direction: column;
    }
  }

  &__filters {
    display: flex;
    align-items: center;

    & > .present {
      margin-left: 50px;
    }

    & > .filter__label {
      margin-right: 15px;
    }
  }
}