.contacts {
  background-color: #f7f7f7;
  padding: 25px 0 40px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__number {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }

  &__phone {
    display: flex;
    justify-content: space-between;

    & .contacts__number {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}