@import '../global';

.currency {
  height: 100%;
  margin-right: 25px;

  @media screen and (max-width: 1023px) {
    background-color: #e9e9e9;
    margin-right: 5px;
  }
}

.currency-dropdown {
  &__button {
    background-color: transparent;

    i {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }

  &__content {
    left: 80% !important;

    @media screen and (max-width: 1023px) {
      left: 50% !important;
    }
  }

  &__angle {
    font-size: 6px;
    margin-left: 8px;
    transform: translateY(-25%);
  }
}