@import "../global";

.currency {
  height: 100%;
  margin-right: 25px;
}

.currency-dropdown {
  &__button {
    background-color: transparent;
  }

  &__content {
    left: 80% !important;
  }

 &__angle {
   font-size: 6px;
   margin-left: 8px;
   transform: translateY(-25%);
 }
}
