.header {
  display: flex;
  flex-direction: column;

  &__first-line {
    background-color: #f0f0f0;
  }

  &__second-line {
    border-bottom: 2px solid #f0f0f0;
  }

  &__first-line,
  &__second-line,
  &__third-line {
    & > .box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}