.input {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: inset .5px .866px 5px 0 rgba(0, 3, 1, .1);
  color: #5f5f5f;
  font-size: 16px;
  height: 40px;
  padding: 15px;
  width: 100%;
}

.input__no-border {
  @extend .input;

  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 46px;
}

.textarea {
  @extend .input;

  height: 100px;
  resize: none;
}