.table {
  margin-bottom: 40px;
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
    table-layout: auto;
  }

  tr {
    @media screen and (max-width: 767px) {
      align-items: center;
      border-bottom: 1px solid #dedede;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      position: relative;
    }
  }

  &__head {
    @media screen and (max-width: 767px) {
      display: none;
    }

    th {
      background-color: #44c900;
      border-bottom: 1px solid #44c900;
      border-right: 1px solid #dedede;
      border-top: 1px solid #44c900;
      color: #fff;
      padding: 15px 0;
      vertical-align: middle;
    }

    th:first-child {
      width: 25%;
    }

    th:last-child {
      border-right: 1px solid #44c900;
      width: 25%;
    }
  }

  &__cell {
    border: 1px solid #dedede;
    color: #000;
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
    vertical-align: middle;

    @media screen and (max-width: 767px) {
      border: 0;
      padding: 10px 0;
    }
  }

  &__foot {
    tr {
      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }

    td {
      background-color: #f0f0f0;
      border: 1px solid #dedede;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      padding: 15px 0;
      text-align: center;

      @media screen and (max-width: 767px) {
        background-color: #fff;
        border: 0;
        padding: 10px 0;
      }
    }
  }
}