.menu {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;

  &__wrapper {
    position: relative;
    z-index: 1;

    &:hover {
      z-index: 2;

      .menu__item {
        z-index: 1;
      }

      .categories-menu {
        opacity: 1;
        pointer-events: initial;
        z-index: 1;
      }

      &:after {
        opacity: 1;
      }
    }

    &:after {
      background-color: rgba(0,0,0,.78);
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__item {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
  }
}