@import "../global";

.nav-dropdown {
  display: flex;
  position: relative;
  height: 100%;
  @include transition();

  &:hover {
    .nav-dropdown__content {
      display: block;
    }
  }

  &__button {
    border: 0;
    text-align: center;
  }

  &__content {
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 38px;
    transform: translateX(-50%);
    padding: 10px 0;
    width: 100%;
    min-width: 50px;
    border-radius: 4px;
    box-shadow: 0.5px 0.866px 10px 0 rgba(0, 3, 1, 0.2);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: #fff;
      border-top: 0;
      margin-left: -6px;
      margin-top: -6px;
    }
  }

  &__item {
    color: #000;
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
    @include transition();

    &:hover {
      background-color: #44c900;
      color: #fff;
    }
  }
}
