@import '../global';

.nav-menu {
  align-items: center;
  display: flex;
  height: 40px;

  @media screen and (max-width: 1024px) {
    display: none;
    flex-direction: column;
  }

  &__item {
    @include transition();

    color: #5f5f5f;

    &:not(:first-child) {
      margin-left: 30px;
    }

    &:hover {
      opacity: .7;
    }
  }
}