.option {
  align-items: center;
  display: flex;

  &__label {
    text-align: left;
    width: 115px;
  }

  .input,
  .dropdown {
    max-height: 40px;
    max-width: 100px;
    width: 100px;
  }
}