.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 55px;

  @media screen and (max-width: 767px) {
   margin-top: 30px;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin: 0 25px;
    padding: 5px;

    @media screen and (max-width: 1024px) {
      margin: 0 15px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 5px;
    }

    &:last-child, &:first-child {
      span {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    &:hover {
      opacity: .7;
    }

    i {
      font-size: 16px;
      padding: 0 5px;
    }

    &.active {
      color: #44c900;
    }
  }
}