.popular {
  &__container {
    background: url('../img/slider2-bg.png') center;
    height: 540px;

    & > .box {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  &__content {
    height: 350px;

    .slick-list,
    .slick-track {
      height: 100%;
    }

    .slick-slide {
      display: flex !important;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .slick-next {
    right: -25px;

    @media screen and (max-width: 1440px) {
      right: -10px;
    }
  }

  .slick-prev {
    left: -25px;

    @media screen and (max-width: 1440px) {
      left: -10px;
    }
  }
}