.present {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__item {
    &:first-child {
      margin-right: 10px;
    }

    &.active {
      color: #a57e44;
    }
  }
}