@import '../global';

.product {
  @include transition();

  img {
    height: 100px;
  }

  background-color: #fff;
  border-radius: 4px;
  box-shadow: .5px .866px 10px 0 rgba(0, 3, 1, .04);
  position: relative;

  &.have-discount {
    .product__price {
      color: #df1818;
    }
  }

  &.card {
    padding: 25px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .product__info {
      align-items: center;
      flex-direction: column;
    }

    .product__content {
      margin: 0;
    }

    .product__manage {
      flex-direction: column;
    }

    .product__actions {
      justify-content: space-between;
      margin-top: 30px;

      .button:first-child {
        padding: 0 20px;
      }
    }

    .product__options {
      width: 100%;

      @media screen and (max-width: 540px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    .option {
      justify-content: space-between;

      @media screen and (max-width: 540px) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 10px;
        width: max-content;
      }

      &__label {
        width: max-content;

        @media screen and (max-width: 540px) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0 0 30px 0 rgba(0, 3, 1, .2);
  }

  &__content {
    margin-left: 30px;
    width: 100%;
  }

  &__info {
    align-items: center;
    display: flex;
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    height: 100px;
  }

  &__price {
    color: #782c08;
    font-size: 30px;
    font-weight: 500;
  }

  &__manage {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    & .button:first-child {
      margin-right: 10px;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;

    .option:first-child {
      margin-bottom: 10px;
    }
  }

  &__old-price {
    color: #782c08;
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
    text-decoration: line-through;
  }
}