.product-card {
  .caption {
    margin: 0;
  }

  &__container {
    display: flex;
    margin-top: 55px;

    @media screen and (max-width: 540px) {
      margin-top: 25px;
    }

    .side-menu {
      margin-right: 30px;
      width: 25%;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    .product-card {
      width: 75%;

      @media screen and (max-width: 1023px) {
        width: 100%;
      }
    }
  }

  &__content {
    display: flex;
    margin: 30px 0;

    @media screen and (max-width: 540px) {
      flex-direction: column;
      width: 100%;
    }

    .product-card__img {
      margin-right: 30px;
      width: 55%;

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        width: 50%;
      }

      img {
        width: 100%;
      }

      @media screen and (max-width: 540px) {
        width: 100%;
      }
    }
  }

  &__varies {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: .5px .866px 10px 0 rgba(0, 3, 1, .04);
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 30px;

    @media screen and (max-width: 540px) {
      margin: 15px 0;
      padding: 15px;
    }
  }

  &__description {
    margin-top: 25px;
  }

  &__common {
    align-items: flex-start;
    display: flex;
    height: max-content;

    .common:first-child {
      margin-right: 20px;
    }

    .input {
      width: 110px;
      max-height: 40px;
    }
  }

  &__manage {
    display: flex;
    flex-direction: column;
  }

  &__actions {
    display: flex;
    margin: 25px 0;

    .button:first-child {
      margin-right: 10px;
      padding: 0 48px;
    }

    @media screen and (max-width: 540px) {
      margin: 15px 0;
    }
  }

  &__title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__img {
    position: relative;
  }

  &__discount {
    background-color: #df1818;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    left: 30px;
    padding: 5px 10px;
    position: absolute;
    top: 30px;
  }

  &.have-discount {
    .varies__price {
      color: #df1818;
    }
  }
}