.review {
  background-color: #f7f7f7;
  position: relative;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 70px 0 35px;

    .caption {
      margin: 0;
    }

    @media screen and (max-width: 767px) {
      margin: 25px 0;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
  }

  .pagination {
    margin-bottom: 70px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: .5px .866px 10px 0 rgba(0, 3, 1, .04);
    margin-top: 20px;
    padding: 30px;
  }

  &__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__user {
    align-items: center;
    display: flex;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    .name {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin-right: 15px;
    }
  }

  &__text {
    font-size: 16px;
  }

  &__leaf {
    position: absolute;
    z-index: 0;
    @media screen and (max-width: 1400px) {
      display: none;
    }

    &-1 {
      @extend .review__leaf;

      left: 0;
      top: 29%;
      transform: translate(-145px, 0);
    }

    &-2 {
      @extend .review__leaf;

      left: 100%;
      top: 0;
      transform: translate(-75px, -25px);
    }

    &-3 {
      @extend .review__leaf;

      left: 75%;
      top: 86%;
    }
  }
}