.review {
  background-color: #f7f7f7;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 70px 0 35px;

    .caption {
      margin: 0;
    }
  }

  &__content {
  }

  .pagination {
    margin-bottom: 70px;
  }

  &__item {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: .5px .866px 10px 0 rgba(0, 3, 1, .04);
    margin-top: 20px;
    padding: 30px;
  }

  &__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__rate {
    align-items: center;
    display: flex;

    .star {
      color: #ccc;

      &.checked {
        color: #eeba28;
        font-size: 16px;

        &:before {
          content: '\EA0B';
        }
      }
    }
  }

  &__user {
    align-items: center;
    display: flex;

    .name {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      margin-right: 15px;
    }
  }

  &__text {
    font-size: 16px;
  }
}