.second-line {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > .second-line__item {
      align-items: center;
      display: flex;

      & > *:first-child {
        margin-right: 30px;
      }
    }
  }
}