@import '../global';

.stock {
  background-color: #fff;
  padding: 0 40px 0;
  position: relative;

  &__slider {
    z-index: 1;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    .caption {
      margin: 0;
    }

    button[class*='icon'] {
      @include transition();

      background-color: transparent;
      border: 0;

      &:before {
        font-weight: bold;
      }

      &:hover {
        color: #44c900;
      }
    }
  }
}

.recommended__img {
  left: 10%;
  position: absolute;
  top: 69%;

  @media screen and (max-width: 1400px) {
    display: none;
  }
}

.sale__img {
  position: absolute;
  right: 10%;
  top: 27%;

  @media screen and (max-width: 1400px) {
    display: none;
  }
}