@import '../global';

.stock {
  background-color: #f7f7f7;
  padding: 40px 0;
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;

    .caption {
      margin: 0;
    }

    button[class*='icon'] {
      @include transition();

      background-color: transparent;
      border: 0;

      &:before {
        font-weight: bold;
      }

      &:hover {
        color: #44c900;
      }
    }
  }
}