span.contacts__number Адреса магазинов:
.addresses__container
    button.toggle-sidemenu Показать меню
    ul.side-menu
        li.side-menu__item
            a(href="#") минск, переулок рокоссовского 552
        li.side-menu__item.active
            a(href="#") Минск, первомайская 234
        li.side-menu__item
            a(href="#") минск, азгура, 43, пом. 110
        li.side-menu__item
            a(href="#") Москва, большая ордынка, 31, пом. 53
    #map