span.contacts__number Адреса магазинов:
.addresses__container
    ul.side-menu
        li.side-menu__item минск, переулок рокоссовского 552
        li.side-menu__item.active Минск, первомайская 234
        li.side-menu__item минск, азгура, 43, пом. 110
        li.side-menu__item Москва, большая ордынка, 31, пом. 53
    #map