h1.caption Контакты
.contacts__phone
    .contacts__info
        span.contacts__number Телефон для связи:
        span +375 (29) #[span(style="font-weight: 500") 123-45-67]
    button.button заказать звонок

