ul.categories-menu
    - for (var i = 0; i < 8; i++) {
    li.categories-menu__item
        a(href="#" style="background-image: url('img/peanut-type.png')")
            span.title Арахис #[i.icon_arrow-right]
    -}