footer.footer
    .footer__subscribe
        .box
            span.subscribe__label Подписаться на рассылку:
            div.subscribe
                input.input__no-border(type="text" placeholder="Адрес электронной почты")
                button.button отправить
    .footer__menu
        .box
            .footer__logo
                img(src="img/logo-footer.svg" alt)
                .footer__contacts
                    img.contacts__phone(src="img/phone.svg" alt)
                    .contacts__info
                        a.contacts__number(href="tel:+375294175467") +375 (29) 417-54-67
                        span Ежедневно с 9.00 до 20.00
            .footer__nav-menu
                ul.nav-menu__list
                    li.nav-menu__item
                        a(href="#") Сухофрукты
                    li.nav-menu__item
                        a(href="#") Цукаты
                    li.nav-menu__item
                        a(href="#") Специи и пряности
                    li.nav-menu__item
                        a(href="#") Семечки
                    li.nav-menu__item
                        a(href="#") Сладости
                    li.nav-menu__item
                        a(href="#") Мёд
                ul.nav-menu__list
                    li.nav-menu__item
                        a(href="#") Корзина
                    li.nav-menu__item
                        a(href="#") Линчый кабинет
                    li.nav-menu__item
                        a(href="#") О нас
                    li.nav-menu__item
                        a(href="#") Доставка
                    li.nav-menu__item
                        a(href="#") Оплата
                    li.nav-menu__item
                        a(href="#") Контакты
            .footer__map
                img(src="img/map.png" alt)
    .footer__copyright
        .box
            span &#169; Орехи. Со всего мира
            span Разработано: #[a(href="http://diweb.by/") diweb.by]