header.header
    .header__first-line
        .box
            .nav-menu
                a.nav-menu__item(href="#") О нас
                a.nav-menu__item(href="#") Доставка
                a.nav-menu__item(href="#") Оплата
                a.nav-menu__item(href="#") Контакты
                a.nav-menu__item(href="#") Скидки
            .currency
                span cur
            .lang
                span lng
            .account
                span acc
    .header__second-line
        .box
            a.header__logo(href="#")
                img(src="img/logo.svg" alt="logo")
            span Розничный онлайн-магазин орехов и сухофруктов
            div
                span +375 (29) 111-22-33
                span Ежедневно с 9.00 до 20.00
            button.button Заказать звонок
            div.basket
                i.icon
                span 2 товара: 74.70 р.
    .header__third-line
        .box
            .menu
                a.menu__item(href="#") Орехи
                a.menu__item(href="#") Сухофрукты
                a.menu__item(href="#") Цукаты
                a.menu__item(href="#") Специи и пряности
                a.menu__item(href="#") Семечки
                a.menu__item(href="#") Сладости
                a.menu__item(href="#") Мёд
    .search