header.header
    .header__first-line
        .box
            .nav-menu
                a.nav-menu__item(href="#") О нас
                a.nav-menu__item(href="#") Доставка
                a.nav-menu__item(href="#") Оплата
                a.nav-menu__item(href="#") Контакты
                a.nav-menu__item(href="#") Скидки
            ul.nav-menu
                li.currency
                    div.nav-dropdown
                        button.nav-dropdown__button.currency-dropdown__button BYN #[i.currency-dropdown__angle.icon_1_ArrowDown]
                        ul.currency-dropdown__content.nav-dropdown__content
                            li.nav-dropdown__item BYN
                            li.nav-dropdown__item AMD
                li.lang
                    div.nav-dropdown
                        button.nav-dropdown__button.lang-dropdown__button
                            img.lang-dropdown__img(src="img/flag_ru.png" alt)
                        ul.nav-dropdown__content
                            li.nav-dropdown__item
                                img.lang-dropdown__img(src="img/flag_ru.png" alt)
                            li.nav-dropdown__item
                                img.lang-dropdown__img(src="img/flag_am.png" alt)
                li.account
                    div.nav-dropdown.acc-dropdown
                        button.nav-dropdown__button.acc-dropdown__button.icon_2_Lock личный кабинет
                        ul.nav-dropdown__content.acc-dropdown__content
                            li.nav-dropdown__item.acc-dropdown__item Регистрация
                            li.nav-dropdown__item.acc-dropdown__item Авторизация
    .header__second-line
        .box
            ul.second-line__list
                li.second-line__item
                    a.header__logo(href="/")
                        img(src="img/logo.svg" alt="logo")
                    span Розничный онлайн-магазин #[br] орехов и сухофруктов
                li.second-line__item
                    .contacts__info
                        a.contacts__number(href="tel:+375294175467") +375 (29) 417-54-67
                        span Ежедневно с 9.00 до 20.00
                    button.button Заказать звонок
                li.second-line__item
                    .basket
                        i.icon_shopping-cart.basket__icon
                        .basket__info
                            span.basket__text 2&nbsp;
                            span товара:&nbsp;
                            span.basket__text 74.70 р.
                        //.basket-list
                        //    ul
                        //        li.baket-list__item 1
                        //        li.baket-list__item 2
                        //    .basket-list__manage
                        //        .basket__discount
                        //            span 1
                        //            span 2
                        //        .basket__actions
                        //            button.button.icon_shopping-cart
                        //            button.button оформление заказа

    .header__third-line
        .box
            .menu
                a.menu__item(href="#") Орехи
                a.menu__item(href="#") Сухофрукты
                a.menu__item(href="#") Цукаты
                a.menu__item(href="#") Специи и пряности
                a.menu__item(href="#") Семечки
                a.menu__item(href="#") Сладости
                a.menu__item(href="#") Мёд