header.header
    .header__first-line
        .box
            .nav-menu
                a.nav-menu__item(href="#") О нас
                a.nav-menu__item(href="#") Доставка
                a.nav-menu__item(href="#") Оплата
                a.nav-menu__item(href="#") Контакты
                a.nav-menu__item(href="#") Скидки
            ul.nav-menu
                li.currency
                    div.currency-dropdown
                        button.currency-dropdown__button BYN #[i.icon_1_ArrowDown]
                        ul.currency-dropdown__content
                            li.currency-dropdown__item BYN
                            li.currency-dropdown__item AMD


                li.lang
                    span lng
                li.account
                    span acc
    .header__second-line
        .box
            ul.second-line__list
                li.second-line__item
                    a.header__logo(href="#")
                        img(src="img/logo.svg" alt="logo")
                    span Розничный онлайн-магазин #[br] орехов и сухофруктов
                li.second-line__item.contacts
                    span +375 (29) 111-22-33
                    span Ежедневно с 9.00 до 20.00
                    button.button Заказать звонок
                li.second-line__item.basket
                    i.icon
                    span 2 товара: 74.70 р.
    .header__third-line
        .box
            .menu
                a.menu__item(href="#") Орехи
                a.menu__item(href="#") Сухофрукты
                a.menu__item(href="#") Цукаты
                a.menu__item(href="#") Специи и пряности
                a.menu__item(href="#") Семечки
                a.menu__item(href="#") Сладости
                a.menu__item(href="#") Мёд
    .search