header.header
    .header__first-line
        .box
            .nav-menu
                a.nav-menu__item(href="#") О нас
                a.nav-menu__item(href="#") Доставка
                a.nav-menu__item(href="#") Оплата
                a.nav-menu__item(href="#") Контакты
                a.nav-menu__item(href="#") Скидки
            ul.nav-menu
                li.currency
                    div.nav-dropdown
                        button.nav-dropdown__button.currency-dropdown__button BYN #[i.currency-dropdown__angle.icon_1_ArrowDown]
                        ul.currency-dropdown__content.nav-dropdown__content
                            li.nav-dropdown__item BYN
                            li.nav-dropdown__item AMD
                li.lang
                    div.nav-dropdown
                        button.nav-dropdown__button.lang-dropdown__button
                            img.lang-dropdown__img(src="img/flag_ru.png" alt)
                        ul.nav-dropdown__content
                            li.nav-dropdown__item
                                img.lang-dropdown__img(src="img/flag_ru.png" alt)
                            li.nav-dropdown__item
                                img.lang-dropdown__img(src="img/flag_am.png" alt)
                li.account
                    div.nav-dropdown.acc-dropdown
                        button.nav-dropdown__button.acc-dropdown__button.icon_2_Lock личный кабинет
                        ul.nav-dropdown__content.acc-dropdown__content
                            li.nav-dropdown__item.acc-dropdown__item
                                a(href="#" data-popup="registration") Регистрация
                            li.nav-dropdown__item.acc-dropdown__item
                                a(href="#" data-popup="login") Авторизация
    .header__second-line
        .box
            ul.second-line__list
                li.second-line__item
                    a.header__logo(href="/")
                        img(src="img/logo.svg" alt="logo")
                    span Розничный онлайн-магазин #[br] орехов и сухофруктов
                li.second-line__item
                    .contacts__info
                        a.contacts__number(href="tel:+375294175467") +375 (29) 417-54-67
                        span Ежедневно с 9.00 до 20.00
                    button.button(data-popup="call") Заказать звонок
                li.second-line__item
                    .basket
                        i.icon_shopping-cart.basket__icon
                        .basket__info
                            span.basket__text 2&nbsp;
                            span товара:&nbsp;
                            span.basket__text 74.70 р.
                        .basket-list
                            ul
                                li.basket-list__item
                                    img(src="img/peanut-1.png")
                                    a.title(href="#") Арахис в белом шоколаде, 100 г.
                                    .quantity x2
                                    .price 8.00 р.
                                    button.basket__delete.icon_delete(title="Удалить")
                                li.basket-list__item
                                    img(src="img/peanut-1.png")
                                    a.title(href="#") Арахис в белом шоколаде, 100 г.
                                    .quantity x2
                                    .price 70.00 р.
                                    button.basket__delete.icon_delete(title="Удалить")
                            .basket-list__discount
                               .label Скидка &nbsp; #[span.personal-discount 10%]:
                                   span.discount-price 7.80 р.
                               .label Итого:
                                    span.common-price 70.20 р.
                            .basket__actions
                                button.button.icon_shopping-cart
                                button.button оформление заказа

    .header__third-line
        .box
            .menu
                .menu__wrapper
                    .menu__item Орехи
                        include categories-menu
                .menu__wrapper
                    .menu__item Сухофрукты
                        include categories-menu
                .menu__wrapper
                    .menu__item Цукаты
                        include categories-menu
                .menu__wrapper
                    .menu__item Специи и пряности
                        include categories-menu
                .menu__wrapper
                    .menu__item Семечки
                        include categories-menu
                .menu__wrapper
                    .menu__item Сладости
                        include categories-menu
                .menu__wrapper
                    .menu__item Мёд
                        include categories-menu
