.pagination
    a(href='#') #[i.icon_arrow-left] &nbsp; #[span В начало]
    a(href='#') 1
    a.active(href='#') 2
    a(href='#') 3
    a(href='#') 4
    a(href='#') 5
    a ...
    a(href='#') 26
    a(href='#') #[span В конец] &nbsp; #[i.icon_arrow-right]