.product.row
    img(src="../img/peanut-1.png" alt)
    .product__content
        .product__info
            span.product__title Арахис в белом шоколаде
            span.product__price 10.00 р.
        .product__manage
            .product__options
                input.input(style="max-width: 100px")
                input.input(style="max-width: 100px")
            .product__actions
                button.button купить в 1 клик
                button.button.icon_shopping-cart


