.product.card
    img(src="img/peanut-1.png" alt)
    .product__content
        .product__info
            a.product__title(href="#") Арахис в белом шоколаде
            span.product__price 10.00 р.
        .product__manage
            .product__options
                .option
                    label.option__label Фасовка, г.:
                    +dropdown(["700"])
                .option
                    label.option__label Количество:
                    input.input
            .product__actions
                button.button(data-popup="fast-order") купить в 1 клик
                button.button_with-icon(data-popup="basket")
                    i.icon_shopping-cart
