.product.card.have-discount
    img(src="img/peanut-1.png" alt)
    span.product-card__discount 20%
    .product__content
        .product__info
            a.product__title(href="#") Арахис в белом шоколаде
            .price
                span.product__old-price 12.00 р.
                span.product__price 10.00 р.
        .product__manage
            .product__options
                .option
                    label.option__label Количество:
                    input.input
                .option
                    label.option__label Фасовка, г.:
                    +dropdown(["700"])
            .product__actions
                button.button купить в 1 клик
                button.button.icon_shopping-cart
