.rate
    input#star1(type='radio', name='rating', value='1')
    label.rate__star.icon_15_StarGrey(for='star1')
    input#star2(type='radio', name='rating', value='2')
    label.rate__star.icon_15_StarGrey(for='star2')
    input#star3(type='radio', name='rating', value='3')
    label.rate__star.icon_15_StarGrey(for='star3')
    input#star4(type='radio', name='rating', value='4')
    label.rate__star.icon_15_StarGrey(for='star4')
    input#star5(type='radio', name='rating', value='5')
    label.rate__star.icon_15_StarGrey(for='star5')