include ../mixins/dropdown

.recent
    .recent__caption Недавно смотрели
    ul
        li.recent__item
            img.recent__img(src="img/peanut-1.png" alt)
            a.recent__title Арахис в белом шоколаде
            +dropdown(["700"])
            span.recent__price 8.00 р.
        li.recent__item
            img.recent__img(src="img/peanut-1.png" alt)
            a.recent__title Арахис в белом шоколаде
            +dropdown(["700"])
            span.recent__price 8.00 р.
