.box
    .search
        input.input__no-border(type="text" placeholder="Поиск по названию")
        button.button.icon_4_Search
        ul.search__autocomplete
            li
                img(src="img/peanut-1.png")
                .item__info
                    a.title(href="#") Арахис в белом шоколаде, 100 г.
                    span.price 8.00 р.
            li
                img(src="img/peanut-1.png")
                .item__info
                    a.title(href="#") Арахис в белом шоколаде, 100 г.
                    span.price 8.00 р.
            li
                a(href="#") Посмотреть все результаты