ul.submenu
    li.submenu__item
        a(href="#") Арахис
    li.submenu__item
        a(href="#") Бразильский орех
    li.submenu__item
        a(href="#") Грецкие орехи
    li.submenu__item
        a(href="#") Кедровые орехи
    li.submenu__item
        a(href="#") Кешью
    li.submenu__item
        a(href="#") Макадамия
    li.submenu__item
        a(href="#") Миндаль
    li.submenu__item
        a(href="#") Фисташки
    li.submenu__item
        a(href="#") Фундук