extends root/layout
include mixins/breadcrumb

block container
    .container
        include include/header
        main.content
            section.about
                .box
                    +breadcrumb(["Главная"], "О Нас")
                    h1.caption О нас
                    p Наш интернет-магазин предлагает вам купить орехи и сухофрукты оптом и в розницу по доступным ценам. У нас только отборные плоды, которые хранятся на складах, согласно санитарным нормам. Именно поэтому вы можете приобрести грецкий орех или курагу без потери вкусовых качеств и с содержанием огромного количества полезных микроэлементов.
        include include/footer