extends root/layout
include mixins/breadcrumb

block container
    .container
        include include/header
        include include/search
        main.content
            section.about
                .box
                    +breadcrumb(["Главная"], "О Нас")
                    h1.caption О Нас
                    p.about__text Наш интернет-магазин предлагает вам купить орехи и сухофрукты оптом и в розницу по доступным ценам. У нас только отборные плоды, которые хранятся на складах, согласно санитарным нормам. Именно поэтому вы можете приобрести грецкий орех или курагу без потери вкусовых качеств и с содержанием огромного количества полезных микроэлементов.
                    img.about__img(src="../img/peanuts.png" alt)
                    p.about__subtitle Наша продукция
                    p.about__text Наш магазин предлагает вам широкий ассортимент орехов, сухофруктов, цукатов, специй, пряностей и даже семечек. Кроме этого вы всегда сможете у нас купить необычные ореховые сладости и даже приобрести мед.
                    p.about__text Весь наш товар является первосортным, поэтому не имеет в себе вредных для человека веществ. Мы следим за качеством наших орехов, и не продаем вам порченые плоды. Купив у нас сухофрукты, вы точно останетесь довольны и обязательно вернетесь за добавкой.
                    p.about__subtitle Наши преимущества
                    p.about__text Наш магазин обладает немалым количеством преимуществ, которые отличают нас от конкурентов. Основными из них являются:
                    ul.about__list
                        li Мы работаем исключительно с импортером, без перекупщиков. Благодаря этому мы имеем более низкие цены на нашу продукцию;
                        li Мы не обвешиваем своих покупателей для собственной наживы;
                        li Магазин работает уже более 7 лет, поэтому имеет не только большой спрос, но и собственную клиентскую базу;
                        li Для постоянных клиентов мы рады предоставить скидку;
                        li Мы доставляем купленные орехи по указанному вами адресу, к тому же в целостности и сохранности;
                        li У нас работают только квалифицированные сотрудники, которые помогут вам определиться с выбором и ответят на все интересующие вас вопросы.
                    p.about__text Кроме всего этого, «Орешкин дом» имеет все необходимые сертификаты качества и результаты лабораторных исследований своих товаров. Мы с удовольствием предоставим их по первому требованию покупателя.
                    p.about__text Также отметим, что сделать заказ вы можете как через наш официальный сайт, так и напрямую в магазине. Мы имеем три отделения, узнать адреса которых вы можете, полистав нашу страничку в интернете. Если у вас возникнут вопросы, вы всегда можете позвонить по номеру горячей линии с 9:00 до 18:00.
        include include/footer