extends root/layout
include mixins/breadcrumb

block container
    .container
        include include/header
        include include/search
        main.content
            section.section
                .box
                    +breadcrumb(["Главная"], "Корзина")
                    h1.caption Корзина
                    include include/basket/basket-table
                    .basket__sum Сумма заказа: #[span.basket__sum-value 78.00 р.]
                    .basket__sum Скидка&nbsp;#[span.discount__percent 10%]: #[span.basket__sum-value 7.80 р.]
                    .basket__sum.common Итого: #[span.basket__sum-value 70.20 р.]
                    .basket__sum.basket__manage
                        button.button оформление заказа #[i.icon_arrow-right]
        include include/footer