extends root/layout
include mixins/breadcrumb
include mixins/dropdown

block container
    .container
        //include include/header
        include include/search
        main.content
            section.section
                .box
                    +breadcrumb(["Главная", "Орехи"], "Грецкие орехи")
                    .categories__container
                        .aside
                            ul.side-menu
                                li.side-menu__caption Категории
                                li.side-menu__item.active.hasSubmenu Орехи
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Сухофрукты
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Цукаты
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Специи и пряности
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Семечки
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Сладости
                                    include include/submenu
                                li.side-menu__item.hasSubmenu Мёд
                                    include include/submenu
                            include include/recent
                        .categories
                            .categories__header
                                h1.caption Грецкие орехи
                                .categories__filters
                                    .sort
                                        label.filter__label Сортировка:
                                        +dropdown(["По названию А - Я"])
                                    ul.present
                                        li.present__item.active
                                            a.icon_32_TablesActive(href="#")
                                        li.present__item
                                            a.icon_33_LinesNeactive(href="#")
                            .grid
                                - for (var i = 0; i < 9; i++) {
                                    .grid__item
                                        include include/product-card
                                -}
                            include include/pagination


        include include/footer