extends root/layout
include mixins/breadcrumb

block container
    .container
        include include/header
        include include/search
        main.content
            section.personal
                .box
                    +breadcrumb(["Главная", "Личный кабинет"], "Смена пароля")
                    .personal__container
                        .personal__info
                            h1.caption Смена пароля
                            .form
                                .form__block
                                    label.form__label Пароль:
                                    input.input(type="password")
                                .form__block
                                    label.form__label Подтвердите пароль:
                                    input.input(type="password")
                            .personal__manage
                                button.button.button__left #[i.icon_arrow-left] вернуться
                                button.button.button__right продолжить #[i.icon_arrow-right]

                        ul.side-menu
                            li.side-menu__item
                                a(href="#") личный кабинет
                            li.side-menu__item
                                a(href="#") учетная запись
                            li.side-menu__item
                                a(href="#") адреса доставки
                            li.side-menu__item
                                a(href="#") бонусная система
                            li.side-menu__item.active
                                a(href="#") изменить пароль
                            li.side-menu__item
                                a(href="#") выход

        include include/footer