extends root/layout
include mixins/breadcrumb

block container
    .container
        //include include/header
        include include/search
        main.content
            section.section
                .box
                    +breadcrumb(["Главная"], "Контакты")
                    include include/contacts/phone
            section.section
                .box
                    include include/contacts/addresses
        include include/footer