extends root/layout
include mixins/breadcrumb
include mixins/dropdown
include mixins/radio

block container
    .container
        include include/header
        main.content
            section.personal
                .box
                    +breadcrumb(["Главная", "Личный кабинет", "Адреса доставки"], "Редактировать адрес")
                    .personal__container
                        .personal__info
                            h1.caption Редактировать адрес
                            .form
                                .form__block
                                    label.form__label Имя:
                                    input.input(type="text")
                                .form__block
                                    label.form__label Фамилия:
                                    input.input(type="text")
                                .form__block
                                    label.form__label Адрес:
                                    input.input(type="text")
                                .form__block
                                    label.form__label Город:
                                    input.input(type="text")
                                .form__block
                                    label.form__label Страна:
                                    +dropdown(["Беларусь"])
                                .form__block
                                    label.form__label Основной адрес:
                                    .radio__group
                                        +radio("Да", "address", "res-addr-yes")
                                        +radio("Нет", "address", "res-addr-no")
                            .personal__manage
                                button.button.button__left #[i.icon_arrow-left] вернуться
                                button.button.button__right продолжить #[i.icon_arrow-right]

                        ul.side-menu
                            li.side-menu__item
                                a(href="#") личный кабинет
                            li.side-menu__item
                                a(href="#") учетная запись
                            li.side-menu__item.active
                                a(href="#") адреса доставки
                            li.side-menu__item
                                a(href="#") бонусная система
                            li.side-menu__item
                                a(href="#") изменить пароль
                            li.side-menu__item
                                a(href="#") выход

        include include/footer