extends root/layout
include mixins/dropdown

block container
    .container
        include include/header
        main.content.home
            section.slider
                include include/home/slider
            section.stock
                include include/home/stock
                //img.sale__img(src="img/sale-img.png" alt)
                //img.recommended__img(src="img/recommended-bg.png" alt)
            section.popular
                include include/home/popular
            section.review
                include include/home/reviews
            section.home-about
                include include/home/about
        include include/footer