extends root/layout

block container
    .container
        include include/header
        .box
            a.link(href="home.html") Главная
            a.link(href="categories-cards.html") Категории плиткой
            a.link(href="categories-rows.html") Категории строками
            a.link(href="product-card.html") Карта товара
            a.link(href="product-card-discount.html") Карта товара со скидкой
            a.link(href="personal-account.html") Личный кабинет
            a.link(href="edit-account.html") Учетная запись
            a.link(href="bonus-system.html") Бонусная система
            a.link(href="change-password.html") Смена пароля
            a.link(href="addresses.html") Адреса доставки
            a.link(href="edit-address.html") Редактировать адрес
            a.link(href="basket.html") Корзина
            a.link(href="basket-discount.html") Персональная скидка
            a.link(href="ordering.html") Оформление заказа
            a.link(href="discounts.html") Скидки
            a.link(href="about.html") О нас
            a.link(href="delivery.html") Доставка
            a.link(href="payment.html") Оплата
            a.link(href="contacts.html") Контакты
        include include/footer
