.icon_1_ArrowDown:before { content: '\EA01'; }
.icon_2_Lock:before { content: '\EA02'; }
.icon_shopping-cart:before { content: '\EA03'; }
.icon_4_Search:before { content: '\EA04'; }
.icon_arrow-left:before { content: '\EA05'; }
.icon_arrow-right:before { content: '\EA06'; }
.icon_edit:before { content: '\EA07'; }
.icon_delete:before { content: '\EA08'; }
.icon_32_TablesActive:before { content: '\EA09'; }
.icon_33_LinesNeactive:before { content: '\EA0A'; }
