.box
    .about__container
        img(src="img/home-about.png" alt)
        .about__content
            h1.caption Интернет-магазин орехов и сухофруктов
            p.text Задача организации, в особенности же рамки и место обучения кадров в значительной степени обуславливает создание соответствующий условий активизации. Товарищи! новая модель организационной деятельности требуют от нас анализа направлений прогрессивного развития. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
            p.text Таким образом сложившаяся структура организации позволяет оценить значение соответствующий условий активизации. Не следует, однако забывать, что консультация с широким активом требуют определения и уточнения модели развития. С другой стороны реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.