.popular__container
    .box
        .popular-item__caption Популярные категории
        .popular__content
            -for (var i = 0; i < 8; i++) {
                include ../popular-item
            -}