include ../popular-item

.popular__container
    .box
        .popular-item__caption Популярные категории
        .popular__content
            +popular-item("img/peanut-group-1.png", "Грецкие орехи")
            +popular-item("img/peanut-group-2.png", "Фисташки")
            +popular-item("img/peanut-group-3.png", "Фундук")
            +popular-item("img/peanut-group-4.png", "Специи и пряности")
            +popular-item("img/peanut-group-1.png", "Грецкие орехи")
            +popular-item("img/peanut-group-2.png", "Фисташки")
            +popular-item("img/peanut-group-3.png", "Фундук")
            +popular-item("img/peanut-group-4.png", "Специи и пряности")