include ../popular-item

.popular__container
    .box
        .popular-item__caption Популярные категории
        .popular__content
            +popular-item("img/peanut-group-1.png")
            +popular-item("img/peanut-group-2.png")
            +popular-item("img/peanut-group-3.png")
            +popular-item("img/peanut-group-4.png")