.box
    .review__header
        p.caption Отзывы о магазине
        button.button оставить отзыв
    .review__content
        .review__item
            .review__info
                .review__user
                    span.name Марина Абрамова
                    span.date 20.05.2018
                .review__rate
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey
                    span.star.icon_15_StarGrey
            p.review__text Отзывы помогают вам и другим пользователям выбрать товар или магазин. На Маркете вы можете узнать мнение других людей о товарах
                | и магазинах, оставить свой отзыв или прокомментировать отзывы других пользователей. Оставить отзыв могут только авторизованные
                |пользователи.

        .review__item
            .review__info
                .review__user
                    span.name Марина Абрамова
                    span.date 20.05.2018
                .review__rate
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey
                    span.star.icon_15_StarGrey
            p.review__text Отзывы помогают вам и другим пользователям выбрать товар или магазин. На Маркете вы можете узнать мнение других людей о товарах
                | и магазинах, оставить свой отзыв или прокомментировать отзывы других пользователей. Оставить отзыв могут только авторизованные
                | пользователи.

        .review__item
            .review__info
                .review__user
                    span.name Марина Абрамова
                    span.date 20.05.2018
                .review__rate
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey.checked
                    span.star.icon_15_StarGrey
                    span.star.icon_15_StarGrey
            p.review__text Отзывы помогают вам и другим пользователям выбрать товар или магазин. На Маркете вы можете узнать мнение других людей о товарах
                | и магазинах, оставить свой отзыв или прокомментировать отзывы других пользователей. Оставить отзыв могут только авторизованные
                | пользователи.

    include ../pagination