.slider
    .search.main
        input.input__no-border(type="text" placeholder="Поиск по названию")
        button.button.icon_4_Search
    .box.carousel
            .slider__content
                p.slider__title орехи и сухофрукты
                p Большой ассортимент вкуснейших орехов в нашем магазине
            .slider__content
                p.slider__title орехи и сухофрукты
                p Большой ассортимент вкуснейших орехов в нашем магазине
            .slider__content
                p.slider__title орехи и сухофрукты
                p Большой ассортимент вкуснейших орехов в нашем магазине
