table.table.basket-table
    thead.table__head
        tr
            th Изображение
            th Наименование товара
            th Код товара
            th Цена
            th Количество
            th Итого
            th
    tbody
        tr
            td.table__cell
                img(src="../img/peanut-1.png" alt)
            td.table__cell Арахис в белом шоколаде, 100г.
            td.table__cell 123-АБ
            td.table__cell 4.00 р.
            td.table__cell 2
            td.table__cell 8.00 р.
            td.table__cell
                button.basket__delete.icon_delete(title="Удалить")
        tr
            td.table__cell
                img(src="../img/peanut-2.png" alt)
            td.table__cell Изюм "Королевский" с веточкой, 1 кг.
            td.table__cell 456-АБ
            td.table__cell 70.00 р.
            td.table__cell 1
            td.table__cell 70.00 р.
            td.table__cell
                button.basket__delete.icon_delete(title="Удалить")
