.basket__sum Сумма заказа: #[span.basket__sum-value 78.00 р.]
.basket__sum Стоимость доставки: #[span.basket__sum-value 0.00 р.]
.basket__sum.all Итого: #[span.basket__sum-value 78.20 р.]
.basket__sum.basket__manage
    button.button оформление заказа #[i.icon_arrow-right]
