.basket-form__container
    .basket-form__contacts
        h1.caption Контакты
        .basket-form
            .form__block
                label.form__label Имя:
                input.input(type="text")
            .form__block
                label.form__label Номер телефона:
                input.input(type="text")
            .form__block
                label.form__label Email:
                input.input(type="text")
            .form__block
                label.form__label Комментарий:
                textarea.textarea
    .basket-form__options
        h1.caption Способ доставки
        .radio__group
            +radio("Самовывоз", "delivery-type", "self", "checked")
            +radio("Курьерская доставка", "delivery-type", "courier")

        h1.caption Адрес магазина
        .address-form__dropdown
            +dropdown(["Адрес магазина #1"])
        .address-form
            .address-form__row
                label.address-form__label Улица:
                input.input(type="text")
            .address-form__row
                label.address-form__label Дом:
                input.input.short(type="text")
                label.address-form__label Квартира:
                input.input.short(type="text")


        h1.caption Способ оплаты
        .radio__group
            +radio("Оплата при получении", "payment", "on-get")
            +radio("Онлайн-оплата", "payment", "online")