@import 'global';

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex-grow: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
